.titleBarAnimation-start::before, .titleBarAnimation-start::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    background-color:#4c5b5c;
    height: 100%;
}

.titleBarAnimation-end::before, .titleBarAnimation-end::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    left: 50%;
    transition: width 1s linear, left 1s linear;
    background-color:#4c5b5c;
}

.titleBarAnimation-start::before {
    left: 50%;
}

.titleBarAnimation-end::before {
    left: 0;
}

.contentSideBorderAnimation-start::before, .contentSideBorderAnimation-start::after {
    content: "";
    position: relative;
    width: 30px;
    background-color:#4c5b5c;
    height: 0;
}

.contentSideBorderAnimation-end::before, .contentSideBorderAnimation-end::after {
    content: "";
    position: relative;
    width: 30px;
    background-color:#4c5b5c;
    transition: height 1s linear 1s;
    height: 100%;
}


.layoutBottomBorderAnimation-start::before, .layoutBottomBorderAnimation-start::after{
    content: "";
    position: relative;
    width: 0;
    bottom: 0;
    background-color:#4c5b5c;
    transition: width 1s linear 2s, left 1s linear 2s;
    min-height: 30px;
}

.layoutBottomBorderAnimation-end::before, .layoutBottomBorderAnimation-end::after{
    content: "";
    display:block;
    position: relative;
    min-height: 30px;
    bottom: 0;
    width: 50%;
    background-color:#4c5b5c;
    transition: width 1s linear 2s, left 1s linear 2s;
}

.layoutBottomBorderAnimation-start::before {
    position: absolute;
    left: 100%;
}

.layoutBottomBorderAnimation-end::before {
    position: absolute;
    left: 50%;
}