
.horizontal-slider {
    width: 200px;
    max-width: 500px;
    height: 40px;
}
  
.thumb {
    cursor: pointer;
    position: absolute;
    z-index: 100;
    background: var(--slide-circle-inner-color);
    border: 5px solid var(--slide-primary-color);
    border-radius: 100%;
    display: block;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
}

.track {
    position: relative;
    background: var(--slide-unvisited-track-color);
}

.track.track-0 {
    background: var(--slide-primary-color);
}

.horizontal-slider .track {
    top: 20px;
    height: 4px;
}

.horizontal-slider .thumb {
    top: 12px;
    width: 10px;
    outline: none;
    height: 10px;
    line-height: 38px;
}

.horizontal-slider.disabled .thumb{
    border-color: var(--slide-disabled-color);
}

.horizontal-slider.disabled .track.track-0{
    background: var(--slide-disabled-color);
}

.toggle {
    margin-top: 10px;
}

.toggle.react-toggle--checked .react-toggle-track {
    background-color: var(--slide-primary-color);
} 